services:
  app:
    build: .
    image: my_app_image
    container_name: my_app_container
    command: /app/entrypoint.sh
    ports:
      - "8000:8000" # 프로덕션 시 주석
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - postgres

  nginx:
    image: nginx:latest
    container_name: my_nginx_container
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles # staticfiles 볼륨 추가
    ports:
      - "80:80"
    depends_on:
      - app

  postgres:
    image: postgres:latest
    container_name: my_postgres_container
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus
    container_name: my_prometheus_container
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/:/etc/prometheus/

  grafana:
    image: grafana/grafana
    container_name: my_grafana_container
    environment:
      GF_INSTALL_PLUGINS: "grafana-clock-panel,grafana-simple-json-datasource"
      GF_SECURITY_ADMIN_USER: ${GRAFANA_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.5.1
    container_name: my_elasticsearch_container
    environment:
      - node.name=elasticsearch
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    command: >
      bash -c "bin/elasticsearch-plugin install analysis-nori --batch && bin/elasticsearch"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.5.1
    container_name: my_kibana_container
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  # redis:
  #   image: redis
  #   container_name: my_redis_container
  #   command: redis-server --requirepass ${REDIS_PASSWORD}
  #   environment:
  #     - REDIS_PASSWORD=${REDIS_PASSWORD}
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - redis_data:/data

  # celery:
  #   image: my_app_image
  #   container_name: my_celery_container
  #   command: celery -A config worker -E -l info
  #   volumes:
  #     - .:/app
  #   env_file:
  #     - .env
  #   depends_on:
  #     - postgres
  #     - redis
  #     - app

volumes:
  postgres_data:
  grafana_data:
  # redis_data:
  es_data:
# 실행
# docker-compose --env-file .env up -d
